.App {
  text-align: center;
}

.movies{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 68px;
  }
  
  .movie-card{
    margin-top: 20px;
    width: 960px;
    cursor: pointer;
    
  }
  
  .movie-card img {
    border-radius: 20px;
    height: 60vh;
  }
  
  .movie-details-image-container img{
    border-radius: 20px;
    height: 75vh;
  }



