.App {
  text-align: center;
  color: white;
  background-color: black;
  font-family: 'Barlow Condensed', sans-serif;
}

nav {
  height: 175px;
  display: flex;
  background-color: transparent;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2);
}

.nav-title {
  font-size: 4rem;
  align-self: center;
  font-weight: 400;
  color: #ffffff;
}

a:hover.nav-logo-link {
  text-decoration: none;
}

.nav-link {
  margin-right: 15px;
  align-self: center;
  text-align: right;
}

.nav-right-links {
  display: flex;
  margin: auto 0 auto auto;
  margin-top: 125px;
  font-weight: 600;
}

.username-display {
  position: absolute;
  right: 25%;
  left: 25%;
  top: 95px;
  font-size: 2rem;
}

a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

a:hover {
  text-decoration: underline;
}

.logo-wrapper {
  display: flex;
  height: 150px;
}

.logo {
  height: 100%;
  align-self: center;
  margin: 15px;
  margin-top: 20px;
}

.movies-grid {
  margin-top: 25px;
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.movie-card {
  height: 100%;
  margin: 15px;
  overflow: hidden;
  border-radius: 2.5rem;
  transition: transform 300ms;
}

.movie-card:hover {
  transform: scale(1.1);
}

.movie-card img {
  border-radius: 20px;
  height: 60vh;
}

.movie-details-image-container img {
  border-radius: 20px;
  height: 75vh;
}

.movie-details-description-container {
  display: flex;
  width: 75vw;
  margin: 0 auto;
}

.movie-details-description {
  margin: 20px auto;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  align-self: center;
  
}

.movie-title {
  font-size: 3rem;
}

.movie-reviews-grid {
  margin: 35px 0px;
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.review {
  width: 450px;
  height: 275px;
  outline: rgb(255, 255, 255) solid 2px;
  padding: 25px;
  margin: 10px 25px;
  border-radius: .5rem;
  background: rgb(32, 32, 32);
  box-shadow: 5px 5px #999;  
}

.form {
  display: block;
}


.form textarea,
.form input,
.form select,
.button {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 24px;
  color: white;
  margin: 10px;
  padding: 7px 12px;
  cursor: default;
  border: solid 1px gray;
  border-radius: 10px;
  background-color: black;
}

.button {
  text-align: center;
  box-shadow: 3px 3px #999;
  background-color: black;
}

.button:hover {
  background-color: #545454
}

.button:active {
  background-color: #353535;
  box-shadow: 4px 4px #666;
  transform: translateY(4px);
}

.delete-button {
  background-color: rgb(164, 0, 0);
}

.delete-button:hover {
  background-color: rgb(113, 1, 1);
}

.delete-button:active {
  background-color: rgb(66, 0, 0);

}

.login-form-container {
  margin: 50px;
}

.signup-button-container {
  margin: 10px auto;
}

.signup-button {
  margin: 0 auto;
}

.register-form-container {
  width: 500px;
  margin: 50px auto;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.please-login {
  font-size: 2em;
}

.about-blurb {
  font-size: 1.5rem;
  margin: 0px 150px;
}

.project-details {
  width: 100vw;
}

.team-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0 20%;
}

.pfp-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  border: 10px inset gray;
}

.pfp {
  display: block;
  height: 100%;
  margin: 0 auto;
}

.member-info {
  margin: 50px auto;
}